body {
    background-color: #1D1B22;
    font-family: 'Poppins', sans-serif;
    color: #eee;
    margin: 40px;
}

header a {
    text-decoration: none;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

em {
    font-size: 1.15em;
    color: white;
    line-height: 150%;
}

code {
    font-size: 1.2em;
}

/* Index page */
main.index {
    display: flex;
}

main.index section:not:first-child {
    background-color: yellow;
}

main.index section:first-child {
    width: 400px;
}


main.two-column {
    display: flex;
}

main.two-column section {
    flex: 1;
    margin-right: 20px;
}

main.two-column section.small {
    flex: 1;
    width: min-content;
}

main.two-column section.large {
    flex: 5;
}

main.two-column section.fifty {
    width: 50%;
    min-width: 500px;
}

li {
    margin-bottom: 2px;
}

footer li,
ol.links li {
    font-size: 1.4em;

}

pre {
    color: #8be9fd;
    font-size: 1.2em;
    display: inline;
    /* Maakt de pre-tag inline zodat het in de flow van de paragraaf past */
    white-space: pre;
    /* Behoudt de witruimte binnen de pre-tag */
    margin: 0;
    /* Optioneel, verwijdert de standaardmarge van pre-tags */
    padding: 0;
    /* Optioneel, vermindert de padding binnen de pre-tag */
}

a {
    color: white;
}

tag {
    background-color: #ff79c6;
    color: #282a36;
    font-weight: bold;
    border-radius: 15px;
    padding: 1px 7px 1px 7px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

blockquote {
    margin: 0;
    font-size: 1.2em;

    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #78C0A8;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
    margin-bottom: 2px;
}

blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: #78C0A8;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

blockquote::after {
    content: '';
}

blockquote span {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}